    <!-- ******FEATURES****** --> 
    <section id="vacanza-attiva" class="features section">
        <div class="container text-center">
            <h2 class="title">AKTIVURLAUB</h2>
            
            <img class="responsive-img left" src="../img/fiemme-motion.jpeg"/>
            <p class="text-center right-text">Ein aktiver Urlaub im Val di Fiemme bedeutet Sport und Spaß ohne Grenzen während des ganzen Jahres.
            Lassen Sie Stress und Routine hinter sich und erleben Sie die Natur, die Gipfel der Dolomiten, blauer Himmel, Sonne und reine Luft.<br>
Ein Paradis zu erleben, wo man Bergwanderen, klettern, Pferde-reiten oder Mountainbiking kann.</p><br>
			<div class="clear"></div>
<img class="responsive-img left margin-top" src="../img/sci-lasorgente.jpg"/>
            <p class="text-center right-text">​
Unendliche Möglichkeiten! Sie finden Ströme für Rafting, Felsen zum Klettern und das Adrenalin des Gleitschirmfliegens.<br>
43/5000
Im Winter, mit einer schönen weißen Landschaft, Schneeschuhwandern, Alpine und Langlauf Ski, Schlitten oder auch Eislaufen.<br>
25/5000
Für die alpin Skifahrer, das Dolomiti Superski Gebiet bietet mehr als 1220 km von unglaublichen Skipisten. Für die Langläufer, es gibt 150km, einschließlich der berühmten Piste des Marcialonga.
</p>
            
            
            

        </div><!--//container-->
    </section><!--//features-->
