    <!-- ******CONTACT****** --> 
    <section id="book-now" class="docs section">
        <div class="container">
            <div class="contact-inner">
                <h2 class="title text-center">JETZT BUCHEN</h2>
                
				<div class="info text-center">
					<div class="center-form">
						<form Id="QF1"></form>
					</div>
				</div>
				<br><br>
				<h2 class="title text-center">UNVERBINDLICHE ANFRAGE</h2>
				<div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <form name="sentMessage" id="contactForm">
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Name</label>
                                <input type="text" class="form-control" placeholder="Name" id="name" name="name" required data-validation-required-message="Bitte geben Sie Ihren Namen ein">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                         <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group arrival controls ">
                                <label>Anreise</label>
                                <input type="text" class="form-control" placeholder="Anreise" id="arrival" name="arrival" required data-validation-required-message="Bitte geben Sie ein Anreisedatum an">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group departure controls">
                                <label>Abreise</label>
                                <input type="text" class="form-control" placeholder="Abreise" id="departure" name="departure" required data-validation-required-message="Bitte geben Sie ein Abreisedatum an">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Erwachsene</label>
                                <input type="tel" class="form-control" placeholder="Erwachsene" id="adults" name="adults" required data-validation-required-message="Bitte geben Sie die Anzahl der Erwachsenen an">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Kinder</label>
                                <input type="tel" class="form-control" placeholder="Kinder" id="children" name="children">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Email</label>
                                <input type="email" class="form-control" placeholder="Email" id="email" name="email" required data-validation-required-message="Bitte geben Sie eine Email-Adresse an">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Telefon</label>
                                <input type="tel" class="form-control" placeholder="Telefon" id="phone" name="phone">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Bemerkungen</label>
                                <textarea rows="5" class="form-control" placeholder="Bemerkungen" id="message" name="message"></textarea>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <input type="hidden" name="lang" value="eng">
                        <br>
                        <div id="success"></div>
                        <div class="row">
                            <div class="form-group col-xs-12">
                                <button type="submit" class="btn btn-success btn-lg">Senden</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
				 
    
                      
                        
                    </ul>
                </div><!--social icons-->
                
                <div class="clearfix"></div>
                
            </div><!--//contact-inner-->
        </div><!--//container-->
    </section><!--//contact-->  
