    <!-- ******HEADER****** --> 
    <header id="header" class="header">  
        <div class="container">            
            <h1 class="logo pull-left">
                <a class="scrollto" href="#promo">
                	<img id="logo-id" class="" src="../img/logo-lasorgente1.png"/>
                </a>
            </h1><!--//logo-->              
            <nav id="main-nav" class="main-nav navbar-right" role="navigation">
                <div class="navbar-header">
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button><!--//nav-toggle-->
                </div><!--//navbar-header-->            
                <div class="navbar-collapse collapse dark-background-mobile" id="navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="nav-item"><a class="scrollto" href="#hotel">Hotel</a></li>
                        <li class="nav-item"><a class="scrollto" href="#camere">Zimmer</a></li>
                        <li class="nav-item"><a class="scrollto" href="#wellness">Wellness</a></li>
                        <li class="nav-item"><a class="scrollto" href="#vacanza-attiva">Aktivurlaub</a></li>
                        <li class="nav-item"><a class="scrollto" href="#book-now" >Buchen</a></li>
                        <li class="nav-item last"><a class="scrollto" href="#contact">Kontakte</a></li>
                        <li class="dropdown"><a id="active-current" class="desk-a" href="#">DEU</a><a id="active-current" class="mob-a" href="#">DEUSTCH</a><div class="dropdown-content"><a class="desk-a" href="../eng/index.html">ENG</a><a class="mob-a" href="../eng/index.html">ENGLISH</a><a class="desk-a" href="../index.html">ITA</a><a class="mob-a" href="../index.html">ITALIANO</a></div></li>
                    </ul><!--//nav-->
                </div><!--//navabr-collapse-->
            </nav><!--//main-nav-->
        </div>
    </header><!--//header-->
