    <!-- ******ABOUT****** --> 
    <section id="hotel" class="about section">
        <div class="container">
            <h2 class="title text-center">DAS HOTEL<br></h2>
            <img class="responsive-img left" src="../img/lasorgente-frontale.jpg"/>
            <p class="text-center right-text">Wir begrüßen Sie in unserem neuen Hotel. Modern und gemütlich, das Hotel liegt im historischen Zentrum von Tesero, in Val di Fiemme, in den schönen Dolomiten, ein perfekter Ort für aktive und erholsame Ferien.  
</p>
<div class="clear"></div>
            <div class="row margin-top">
                <div class="item col-md-6 col-sm-9 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-tint"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">“La Sorgente”</h3>
                        <p> Auf italienisch bedeutet "Wasserquelle". Das Hotel liegt in einem Bereich des Dorfs genannt Bugnesin, wo es zur Zeit viele Wasserquellen gab.</p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item col-md-6 col-sm-9 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-book"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Die Geschichte lehrt uns...</h3>
                        <p><i>"Es gab viel Wasser in Bugnesin, das von einem Wasserquelle gespeist war(Wasserquelle ist noch da unter dem Hotel). Das Wasser wurde zur Zeit für die Weiden benutzt."</i></p>
                    </div><!--//content-->
                </div><!--//item-->
                
                      
              </div>    
                
        </div><!--//container-->
    </section><!--//about-->
