    <!-- ******PROMO****** -->
    <section id="promo" class="promo section offset-header">
        <div class="container text-center opac">
            
            <p class="intro">NEUE WELLNESS HOTEL, im historischen Zentrum von Tesero, Val di Fiemme</p>
            <!--<h2 class="white">APERTURA AGOSTO 2016</h2>-->
            <div class="btns">
                <a class="btn btn-cta-primary scrollto" href="#hotel" target="_blank">Entdecken sie</a>
            </div>
           
        </div><!--//container-->
     
    </section>
