    <!-- ******CONTACT****** --> 
    <section id="contact" class="contact section has-pattern">
        <div class="container">
            <div class="contact-inner">
                <h2 class="title text-center">KONTAKTE</h2>
                <div class="contact-icons">
                       
                      <div>  <a class="icona" href="mailto:info@hotellasorgente.info" target="_blank"><i class="fa fa-envelope"></i></a><p><a href="mailto:info@hotellasorgente.info" target="_blank">info@hotellasorgente.info</a></p>
                      </div>
                      
                      <div>
                        <a class="icona" href="tel:+393490586787"><i class="fa fa-mobile" target="_blank"></i></a> <p><a href="tel:+393206456885" target="_blank">+39 320 6456885</a></p>
                      </div>
                      <div>
                        <a class="icona" href="tel:+393490586787"><i class="fa fa-phone" target="_blank"></i></a> <p><a href="tel:0462813688" target="_blank">0462 813688</a></p>
                      </div>
                      <div>  
                        <a class="icona" href="https://www.google.it/maps/place/Via+Benesin,+8,+38038+Tesero+TN/@46.289631,11.509787,17z/data=!4m5!3m4!1s0x47787cd33021c499:0x3872aabf0cc5024!8m2!3d46.289631!4d11.509787?hl=it"><i class="fa fa-map-marker" target="_blank"></i></a>  <p><a href="https://www.google.it/maps/place/Via+Benesin,+8,+38038+Tesero+TN/@46.289631,11.509787,17z/data=!4m5!3m4!1s0x47787cd33021c499:0x3872aabf0cc5024!8m2!3d46.289631!4d11.509787?hl=it" target="_blank">Via Benesin, 8<br>38038 - Tesero(TN) - Italien</a></p>
                      </div> 
                        
                    </ul>
                </div><!--social icons-->
                
                <div class="clearfix"></div>
                <div class="info text-center">
                    <h2 class="sub-title">Social</h2>
                    <ul class="social-icons list-inline">
                       
                        <li><a href="https://www.facebook.com/Hotel-La-Sorgente-482416011958900/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                    <!--    <li><a href="http://plus.google.com"><i class="fa fa-google-plus"></i></a></li>-->  
                        
                        
                    </ul>
                </div><!--//info-->
            </div><!--//contact-inner-->
        </div><!--//container-->
    </section><!--//contact-->  
