    <!-- ******DOCS****** --> 
    <section id="wellness" class="docs section">
        <div class="container">
            
            <h2 class="title text-center">PANORAMA WELLNESS</h2> <h3>ENTSPANNUNG, GESUNDHEIT UND WOHLBEFINDEN</h3>           
            <img class="responsive-img left" src="../img/sauna.jpg"/>
            <p class="text-center right-text">Panorama Wellnesszone auf einer Terrasse mit einer wunderschönen Aussicht auf die Lagorai Berggruppe.<br>
Unsere Wellness im Überblick: Aromasauna, türkisches Dampfbad, Liege-Whirlpool, Kneippanlage, verschiedene Duschen und Relax Zone mit Kräutertees.</p>
                
                                        
                     
        </div><!--//container-->
    </section><!--//docs->
