    <!-- ******FEATURES****** --> 
    <section id="camere" class="features section">
        <div class="container text-center">
            <h2 class="title">ZIMMER</h2>
            <img class="responsive-img left" src="../img/camera-lasorgente.jpg"/>
            <p class="text-center right-text">Das Hotel beinhaltet eine Bar, ein Skiraum, Wi-Fi und 12 doppelte und Vierbettzimmer.<br>
Die Zimmer sind geräumig, aus Holz gemacht und mit jeder Komfort: Dusche/WC, Flat-TV, Tel., Wi-Fi und viele auch mit Balkon. </p>
<h3 class="sub-title dark">Leistungen</h3>
                        <p> Von 38€, enthält die Halbpension inkl. aller Leistungen, pro Person und pro Nacht.<br>
Ein umfangreiches Frühstück, mit salzigem und süßem Essen.</p>
<div class="clear"></div>
		<!--	<div class="row">
                <div class="item col-md-6 col-sm-9 col-xs-12 middle-text">
                    
                    <div class="content">
                        
                    </div><!--//content-->
                <!--//item-->
                
                
                      
                
        </div><!--//container-->
    </section><!--//features-->
