    <!-- ******CONTACT****** --> 
    <section id="book-now" class="docs section">
        <div class="container">
            <div class="contact-inner">
                <h2 class="title text-center">PRENOTA ORA</h2>
                
		<div class="info text-center">
    	    <div class="center-form">
    	    	<form Id="QF1"></form>
    	    </div>
        </div> 
    </div>
                      
                        
                    </ul>
                </div><!--social icons-->
                
                <div class="clearfix"></div>
                
            </div><!--//contact-inner-->
        </div><!--//container-->
    </section><!--//contact-->  
