    <!-- ******FEATURES****** --> 
    <section id="camere" class="features section">
        <div class="container text-center">
            <h2 class="title">Camere moderne e spaziose</h2>
            <img class="responsive-img" src="../img/camera1.jpg"/>
            <ul class="feature-list list-unstyled">
                <li><i class="fa fa-check"></i> Belle</li>
                <li><i class="fa fa-check"></i> Belle</li>
                <li><i class="fa fa-check"></i> Belle</li>
                <li><i class="fa fa-check"></i> Belle</li>
                <li><i class="fa fa-check"></i> Belle</li>
            </ul>
        </div><!--//container-->
    </section><!--//features-->
