    <!-- ******FEATURES****** --> 
    <section id="camere" class="features section">
        <div class="container text-center">
            <h2 class="title">LE NOSTRE CAMERE</h2>
            <img class="responsive-img left" src="../img/camera1.jpg"/>
            <p class="text-center right-text">L’hotel dispone di bar interno, ski room, wellness e wi-fi nell’intera struttura, 12 confortevoli stanze, doppie e quadruple.
Solari, spaziose, in stile alpino e dotate di ogni comfort: bagno spazioso con ampia doccia e asciugacapelli, tv satellitare, cassaforte, wi-fi, termostato per regolare la temperatura sia in camera che in bagno, la maggior parte dispongono di balcone e sono accessibili con ascensore. </p>
<div class="clear"></div>
			<div class="row">
                <div class="item col-md-6 col-sm-9 col-xs-12 middle-text">
                    
                    <div class="content">
                        <h3 class="sub-title dark">Servizi</h3>
                        <p> A partire da € 40,00 al giorno a persona con trattamento di pernottamento e prima colazione, incluso l’utilizzo dell’area wellness.<br>
Vi offriremo una genuina colazione a buffet, con prodotti  tipici dolci e salati.</p>
                    </div><!--//content-->
                </div><!--//item-->
                
                
                      
              </div>    
        </div><!--//container-->
    </section><!--//features-->
