    <!-- ******CONTACT****** --> 
    <section id="contact" class="contact section has-pattern">
        <div class="container">
            <div class="contact-inner">
                <h2 class="title text-center">CONTATTI</h2>
                <div class="social-icons">
                       
                        <a class="icona" href="mailto:info@hotellasorgente.info"><i class="fa fa-envelope"></i></a>
                        <a class="icona" href="tel:+393490586787"><i class="fa fa-phone" target="_blank"></i></a></li>
                        
                        <a class="icona" href="tel:+393490586787"><i class="fa fa-map-marker" target="_blank"></i></a></li>  
                        
                    </ul>
                
                
                <div class="clearfix"></div>
                <div class="info text-center">
                    <h2 class="sub-title">Social</h2>
                    <ul class="social-icons list-inline">
                       
                        <li><a href="https://www.facebook.com/3rdwavethemes" target="_blank"><i class="fa fa-facebook"></i></a></li>
                        
                        <li><a href="http://instagram.com/xyriley"><i class="fa fa-google-plus"></i></a></li>  
                        
                        
                    </ul>
                </div><!--//info-->
            </div><!--//contact-inner-->
        </div><!--//container-->
    </section><!--//contact-->  
