    <!-- ******PROMO****** -->
    <section id="promo" class="promo section offset-header">
        <div class="container text-center opac">
            
            <p class="intro">NUOVISSIMO HOTEL, nel centro storico di Tesero, Val di Fiemme</p>
            <h2 class="white">APERTURA LUGLIO 2016</h2>
           <!-- <div class="btns">
                <a class="btn btn-cta-primary scrollto" href="#hotel" target="_blank">Scopritelo</a>
            </div>-->
           
        </div><!--//container-->
     
    </section>
