    <!-- ******PROMO****** -->
    <section id="promo" class="promo section offset-header">
        <div class="container text-center">
            <h2 class="title">Hotel<span class="highlight">La Sorgente</span></h2>
            <p class="intro">Nuovissimo Hotel nel centro storico di Tesero, Val di Fiemme. Apertura Luglio 2016.</p>
            <div class="btns">
                <a class="btn btn-cta-primary scrollto" href="#hotel" target="_blank">Scopritelo</a>
            </div>
           
        </div><!--//container-->
     
    </section>
