    <!-- ******CONTACT****** --> 
    <section id="book-now" class="docs section">
        <div class="container">
            <div class="contact-inner">
                <h2 class="title text-center">PRENOTA ORA</h2>
                
				<div class="info text-center">
					<div class="center-form">
						<form Id="QF1"></form>
					</div>
				</div>
				<br><br>
				<h2 class="title text-center">RICHIESTA PREVENTIVO</h2>
				<div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <form name="sentMessage" id="contactForm">
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Nome</label>
                                <input type="text" class="form-control" placeholder="Nome" id="name" name="name" required data-validation-required-message="La preghiamo di scrivere il suo nome.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                         <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group arrival controls ">
                                <label>Arrivo</label>
                                <input type="text" class="form-control" placeholder="Arrivo" id="arrival" name="arrival" required data-validation-required-message="La preghiamo di specificare la data di arrivo.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group departure controls">
                                <label>Partenza</label>
                                <input type="text" class="form-control" placeholder="Partenza" id="departure" name="departure" required data-validation-required-message="La preghiamo di specificare la data di arrivo.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Numero di adulti</label>
                                <input type="tel" class="form-control" placeholder="Numero di adulti" id="adults" name="adults" required data-validation-required-message="La preghiamo di specificare il numero degli adulti">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Numero di bambini</label>
                                <input type="tel" class="form-control" placeholder="Numero di bambini" id="children" name="children">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Indirizzo Email</label>
                                <input type="email" class="form-control" placeholder="Indirizzo Email" id="email" name="email" required data-validation-required-message="La preghiamo di inserire il suo indirizzo email.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Telefono</label>
                                <input type="tel" class="form-control" placeholder="Telefono" id="phone" name="phone">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Messaggio</label>
                                <textarea rows="5" class="form-control" placeholder="Messaggio" id="message" name="message"></textarea>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <input type="hidden" name="lang" value="ita">
                        <br>
                        <div id="success"></div>
                        <div class="row">
                            <div class="form-group col-xs-12">
                                <button type="submit" class="btn btn-success btn-lg">Invia</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
				 
    
                      
                        
                    </ul>
                </div><!--social icons-->
                
                <div class="clearfix"></div>
                
            </div><!--//contact-inner-->
        </div><!--//container-->
    </section><!--//contact-->  
