    <!-- ******DOCS****** --> 
    <section id="wellness" class="docs section">
        <div class="container">
            <div class="docs-inner">
            <h2 class="title text-center">Wellness</h2>            
            <div class="block">
                <h3 class="sub-title text-center">Sauna</h3>
                <p>Spettacolo sauna</p>
                
            </div><!--//block-->
            
            <div class="block">
                <h3 class="sub-title text-center">Bagno turco</h3>
                <p>Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus.</p>
                
                
            </div><!--//block-->
            
            <div class="block">
                <h3 class="sub-title text-center">Piscina</h3>
                <p>Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Lorem ipsum dolor sit amet, consectetuer adipiscing elit ligula eget dolor.</p>
                
                        
            </div><!--//docs-inner-->         
        </div><!--//container-->
    </section><!--//docs->
