    <!-- ******DOCS****** --> 
    <section id="wellness" class="docs section">
        <div class="container">
            
            <h2 class="title text-center">WELLNESS PANORAMICA</h2>            
            <img class="responsive-img left" src="../img/lasorgente-frontale.jpg"/>
            <p class="text-center right-text">Panoramica zona wellness in una terrazza vetrata con vista sulla catena del Lagorai.<br>
Comprende: bio sauna, bagno turco aromatico, vasca idromassaggio, percorso kneipp, doccia emozionale  e zona relax.</p>
                
                                        
                     
        </div><!--//container-->
    </section><!--//docs->
