    <!-- ******FEATURES****** --> 
    <section id="vacanza-attiva" class="features section">
        <div class="container text-center">
            <h2 class="title">VACANZA ATTIVA</h2>
            
            <img class="responsive-img left" src="../img/fiemme-motion.jpeg"/>
            <p class="text-center right-text">An active holiday in Val di Fiemme means sport and fun without limits throughout the year.
            Leave stress and routine behind you and live the green nature, the peaks of the dolomites, blue sky, sun and pure air.<br>
A paradise where you can charge your batteries, from a simple walk to a more advanced hike, on foot, on a horse or with a mountain bike.</p><br>
			<div class="clear"></div>
<img class="responsive-img left margin-top" src="../img/sci-lasorgente.jpg"/>
            <p class="text-center right-text">Infinite possibilities! You will find torrents for rafting, rocks for climbing and the adrenaline of paragliding.<br>
In winter, with a beautiful white landscape, snowshoeing, skiing, sledding or also ice skating.<br>
For the alpine ski lovers, the Dolomiti Superski resort offers more than 1220 km of incredible ski slopes. For the cross-country-skiers instead, there are 150km of tracks, including the famous track of Marcialonga.
</p>
            
            
            

        </div><!--//container-->
    </section><!--//features-->
