    <!-- ******CONTACT****** --> 
    <section id="book-now" class="docs section">
        <div class="container">
            <div class="contact-inner">
                <h2 class="title text-center">BOOK NOW</h2>
                
				<div class="info text-center">
					<div class="center-form">
						<form Id="QF1"></form>
					</div>
				</div>
				<br><br>
				<h2 class="title text-center">UNBINDING REQUEST</h2>
				<div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <form name="sentMessage" id="contactForm">
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Name</label>
                                <input type="text" class="form-control" placeholder="Name" id="name" name="name" required data-validation-required-message="Please enter your name">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                         <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group arrival controls ">
                                <label>Date of arrival</label>
                                <input type="text" class="form-control" placeholder="Date of arrival" id="arrival" name="arrival" required data-validation-required-message="Please specify a date of arrival.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group departure controls">
                                <label>Date of departure</label>
                                <input type="text" class="form-control" placeholder="Date of departure" id="departure" name="departure" required data-validation-required-message="Please specify a date of departure.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Number of adults</label>
                                <input type="tel" class="form-control" placeholder="Number of adults" id="adults" name="adults" required data-validation-required-message="Please specify the number of adults.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Number of children</label>
                                <input type="tel" class="form-control" placeholder="Number of children" id="children" name="children">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Email address</label>
                                <input type="email" class="form-control" placeholder="Email address" id="email" name="email" required data-validation-required-message="Please enter a valid email address.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Telephone</label>
                                <input type="tel" class="form-control" placeholder="Telephone" id="phone" name="phone">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Message</label>
                                <textarea rows="5" class="form-control" placeholder="Message" id="message" name="message"></textarea>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <input type="hidden" name="lang" value="eng">
                        <br>
                        <div id="success"></div>
                        <div class="row">
                            <div class="form-group col-xs-12">
                                <button type="submit" class="btn btn-success btn-lg">Send</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
				 
    
                      
                        
                    </ul>
                </div><!--social icons-->
                
                <div class="clearfix"></div>
                
            </div><!--//contact-inner-->
        </div><!--//container-->
    </section><!--//contact-->  
