    <!-- ******ABOUT****** --> 
    <section id="hotel" class="about section">
        <div class="container">
            <h2 class="title text-center">THE HOTEL<br></h2>
            <img class="responsive-img left" src="../img/lasorgente-frontale.jpg"/>
            <p class="text-center right-text">We will welcome you in our brand new hotel.<br> Modern and comfortable, it is located in the historic town of Tesero, in Val di Fiemme, in the heart of the Dolomites, a perfect place for both active and relaxing holidays.  
</p>
<div class="clear"></div>
            <div class="row margin-top">
                <div class="item col-md-6 col-sm-9 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-tint"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">“La Sorgente”</h3>
                        <p> In italian it means "the source of water". The hotel is located in the part of Tesero called Benesin, which was well known in the past for its many beautiful sources of water.</p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item col-md-6 col-sm-9 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-book"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">History teaches us that...</h3>
                        <p><i>"A water settlement developed itself in the northern part of Bugnesin, a small pond powered by a fresh source of water(which is still present below the hotel), long used to give water to the livestock in the pastures."</i></p>
                    </div><!--//content-->
                </div><!--//item-->
                
                      
              </div>    
                
        </div><!--//container-->
    </section><!--//about-->
