    <!-- ******FEATURES****** --> 
    <section id="camere" class="features section">
        <div class="container text-center">
            <h2 class="title">OUR ROOMS</h2>
            <img class="responsive-img left" src="../img/camera-lasorgente.jpg"/>
            <p class="text-center right-text">The hotel has its own bar, ski room, Wi-Fi and 12 double and quadruple rooms.<br>
The rooms are spacious, wooden made in alpine style and with every kind of comfort: big bathroom with shower and hairdryer, satellite TV, safe, Wi-Fi, thermostat to regulate the temperature. Most rooms have its own balcony and are accessible by elevator.</p>
<h3 class="sub-title dark">Services</h3>
                        <p> Starting from € 38 per day and per person, with half board accommodation including breakfast.<br>
A genuine breakfast, with typical salty and sweet food.</p>
<div class="clear"></div>
		<!--	<div class="row">
                <div class="item col-md-6 col-sm-9 col-xs-12 middle-text">
                    
                    <div class="content">
                        
                    </div><!--//content-->
                <!--//item-->
                
                
                      
                
        </div><!--//container-->
    </section><!--//features-->
