    <!-- ******DOCS****** --> 
    <section id="wellness" class="docs section">
        <div class="container">
            
            <h2 class="title text-center">PANORAMIC WELLNESS</h2> <h3>ENJOY SOME RELAX</h3>           
            <img class="responsive-img left" src="../img/sauna.jpg"/>
            <p class="text-center right-text">Panoramic wellness zone on a terrace with a great view on the Lagorai mountain group.<br>
It includes: Cedar sauna, aromatic steam bath, whirlpool, kneipp water route, emotional shower and relax zone with herbal teas.</p>
                
                                        
                     
        </div><!--//container-->
    </section><!--//docs->
