<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->  
{% include eng/head.html %}
<body data-spy="scroll">

{% include eng/header.html %}
{% include eng/intro.html %}
{% include eng/hotel.html %}
{% include eng/rooms.html %}
{% include eng/wellness.html %}
{% include eng/active-holiday.html %}
{% include eng/book-now.html %}
{% include eng/contacts.html %}
{% include eng/footer.html %}
</body>
<script>

  document.write('<script type="text/javascript" src="https://web4.deskline.net/accommodationtrentino/en/qfind/script/TRN/70dbce06-df81-44cd-8726-1cd19510fdfd/x?pageType=4&containerId=QF1&selAdultsSearchLine1=2&selNights=7&width=180&showDestination=true&showAccType=false&showText=true&showLink=true&lkCS="><\/script>');

</script>
</html> 

