<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="it"> <!--<![endif]-->  
{% include deu/head.html %}
<body data-spy="scroll">

{% include deu/header.html %}
{% include deu/intro.html %}
{% include deu/hotel.html %}
{% include deu/zimmer.html %}
{% include deu/wellness.html %}
{% include deu/aktivurlaub.html %}
{% include deu/buchen.html %}
{% include deu/kontakte.html %}
{% include deu/footer.html %}
</body>
<script>
document.write('<script type="text/javascript" src="https://web4.deskline.net/accommodationtrentino/de/qfind/script/TRN/70dbce06-df81-44cd-8726-1cd19510fdfd/x?pageType=4&containerId=QF1&selAdultsSearchLine1=2&selNights=7&width=180&showDestination=true&showAccType=false&showText=true&showLink=true&lkCS="><\/script>');
</script>
</html> 

